<link rel="stylesheet" href="/assets/css/acceptModal.css">

<div class="modal-accept-overlay">
    <div class="accept-modal-container">
        <section class="header-modal"></section>
        <section class="message-modal"></section>
        <section class="buttons">
            <button type="button" class="btn-option-yes">si</button>
            <button type="button" class="btn-option-no">no</button>
        </section>
    </div>
</div>

<script type="module" src="/assets/js/acceptModal.js"></script>