<link rel="stylesheet" href="/assets/css/modal_client.css">
<div id="client-search-modal" class="modal-overlay" style="display: none;">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Buscar Cliente Existente</h3>
            <button class="close-modal-btn">&times;</button>
        </div>

        <div class="modal-body">
            <div class="search-controls">
                <input type="text" id="modal-search-input" placeholder="Escribe CUIT, Nombre o Email...">
            </div>

            <div id="search-results-table">
                <p>Comienza a escribir para ver los resultados.</p>
            </div>
        </div>

        <!--<div class="modal-footer">
            <button class="select-client-btn" disabled>Seleccionar</button>
        </div>-->

    </div>
</div>
<script type="module" src="/assets/js/modal_client.js"></script>
