<%- layout('layouts/main') %>
<p>Bienvenido al sistema de facturacion</p>
<nav>
    <ul>
        <li><a href="/home/products">productos</a></li>
        <li><a href="/home/clients">clientes</a></li>
    </ul>
</nav>

<%- body %>
