<%- layout('layouts/main') %>
    <link rel="stylesheet" href="/assets/css/home_layout.css">
    <div class="home-layout-container">
        <p class="facturation-title">Sistema de facturacion</p>
        <nav class="fact-nav">
            <ul class="fact-nav-list">
                <li class="fact-list-item <%= internalPage === 'products' ? 'selected': '' %>">
                    <a href="/facturation/products">
                        <span>1</span>productos
                    </a>
                </li>
                <li class="fact-list-item <%= internalPage === 'clients' ? 'selected': '' %>">
                    <a href="/facturation/clients">
                        <span>2</span>clientes
                    </a>
                </li>
            </ul>
        </nav>

        <%- body %>
    </div>
