<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'principal' %></title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/facturation">facturacion</a></li>
                <li><a href="/historial">historial</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>
